@import "variable";
@import "mixin";

body{
  background: $white;
  font-family: 'Source Sans Pro', sans-serif;
  h4{
    font-family: 'Roboto Slab', serif;
  }
  p{
    font-family: 'Roboto Slab', serif;
  }
  a{
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    &:hover
    {
      text-decoration: none;

    }
  }
  .container{
    width: 75%;
  }
}

.top-nav{
  background: $primary-color;
  color: $white;
  padding: 10px 0px;
  text-align: right;
  .locate , .social{
    margin-bottom: 0px;
    li{
      font-size: 16px;
      font-weight: 500;
      padding-right: 5px;
      a{
        color: $light-text-color;
        font-size: 16px;
        span{
          color: $white;
        }
      }
    }
  }
}

.navbar-custom{
  background: $secondary-color;
  border: none;
  border-radius: 0px;
  padding: 15px 0px;
  .container .navbar-brand, .navbar>.container-fluid .navbar-brand{
    margin-left: 0px;
    margin-top: -35px;
    img{
      background: $primary-color;
      padding: 15px;
      z-index: 100;
      position: absolute;
    }
  }
  .navbar-nav>li>a{
    padding: 12px 20px;
    color: $primary-color;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    &:hover{
      color: $white;
    }
  }
  .navbar-nav>li>.btn-outline-black{
    border: 2px solid $primary-color;
    @include border-radius(0px);
    &:hover{
      background: $primary-color;
      color: $secondary-color;
    }
  }

}

.heading-text{
  h3{
    font-size: 22px;
    font-weight: 700;
    text-transform: Uppercase;
  }
  h4{
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
  h1{
    font-size: 62px;
    font-weight: 600;
  }
}

.description{
  p{
    font-size: 17px;
    text-align: justify;
  }
}

.buttons{
  .btn-outline-black{
    padding: 15px 30px;
    color: $primary-color;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid $primary-color;
    @include border-radius(0px);
    &:hover{
      background: $primary-color;
      color: $secondary-color;
    }
  }
  .btn-black{
    padding: 15px 30px;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid $primary-color;
    background: $primary-color;
    @include border-radius(0px);
    &:hover{
      color: $primary-color;
      background: $secondary-color;
    }
  }
}

.secondary-bg{
  background: $secondary-color;
}



.form-group{
  label{
    font-size: 18px;
    color: $primary-color;
    font-weight: 500;
  }
  .form-control{
    height: 50px;
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid $primary-color;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    color: $primary-color;
  }
  .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    border-left: none !important;
    border-radius: 0px;
    height: 50px;
    border: 2px solid #000;
  }
  .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
    margin-right: -1px;
    margin-left: -1px;
    border-right: none !important;
    border-radius: 0px;
    height: 50px;
    border: 2px solid #000;
  }
}
.padding-bottom{
  padding: 30px;

}
.form-group-white{
  label{
    font-size: 18px;
    color: $white;
    font-weight: 500;
  }
  .form-control{
    height: 50px;
    border-radius: 0px;
    box-shadow: none;
    border: 2px solid $white;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    color: $white;
  }
  .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    border-left: none !important;
    border-radius: 0px;
    height: 50px;
    border: 2px solid $white;
    background: transparent;
    color: $white;
  }
  .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group {
    margin-right: -1px;
    margin-left: -1px;
    border-right: none !important;
    border-radius: 0px;
    height: 50px;
    border: 2px solid $white;
    background: transparent;
    color: $white;
  }
}

footer{
  background: $primary-color;
  color: $white !important;
  padding: 40px 0px;
    h4{
      display: inline-block;
      padding: 0px 20px 20px 0px;
      border-bottom: 4px solid $secondary-color;
    }
  .bod{
    span{
      color: $secondary-color;

    }
  }
  ul{

    li{
      padding-bottom: 10px;
      font-size: 18px;
      color: $white;
      a{
        font-size: 18px;
        color: $white;
        &:hover{
          color: $secondary-color;
        }
      }

    }
  }

}
.nav-tabs>li>a{
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  border-radius: 0px;
  color: $white;
  &:hover{
    background: none;
    border: none;
  }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #000;
  cursor: default;
  background-color: $white;
  border: none;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  border-radius: 0px;
}

.tab-content{
  background: $white;
  padding: 20px;
}

.full-width{
  width: 100%;
}