tr {
  height: 50px; }

abbr {
  border-bottom: none; }

.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  border-bottom-color: #bbb;
  font-family: "AvenirNext-Medium", Avenir, "Helvetica Neue", Helvetica, Arial, sans;
  background-color: #0E0E0E;
  padding-top: 3.5rem; }

.pika-single:before,
.pika-single:after {
  content: " ";
  display: table; }

.pika-single.is-hidden {
  display: none; }

.pika-single.is-bound {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; }

.pika-lendar {
  width: 100%;
  height: 100%;
  background: #0E0E0E; }

.pika-title {
  position: relative;
  text-align: center;
  margin-bottom: 2.5rem; }

.pika-label {
  display: inline-block;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 30px;
  line-height: 20px;
  font-weight: bold; }

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
  color: #fff;
  margin-bottom: 0.3rem; }

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  margin-top: 15rem;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat; }
.pika-prev:hover,
.pika-next:hover {
  opacity: 1; }

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("../arrow-previous.svg");
  left: 6rem;
  background-color: #0E0E0E;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
.pika-prev:hover,
.is-rtl .pika-next:hover {
  -ms-transform: scale(1.08, 1.08);
  -webkit-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08); }

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("../arrow-next.svg");
  right: 6rem;
  background-color: #0E0E0E;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
.pika-next:hover,
.is-rtl .pika-prev:hover {
  -ms-transform: scale(1.08, 1.08);
  -webkit-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08); }

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: 0.2; }

.pika-select {
  display: inline-block; }

.pika-table {
  width: 90%;
  max-width: 680px;
  height: 60%;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  background-color: #0E0E0E; }

.pika-table th,
.pika-table td {
  width: 14.28571%;
  padding: 0;
  background-color: #0E0E0E;
  height: 50px;
  color: #A0A0A0;
  font-size: 14px;
  line-height: 25px;
  text-transform: none;
  font-weight: normal; }

.pika-button {
  cursor: pointer;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: auto;
  padding: 5px;
  text-align: center;
  color: #F9F9F9;
  background-color: #0E0E0E;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }
.pika-button:hover {
  color: #fff;
  background: #ff8000;
  box-shadow: none; }

.pika-week {
  font-size: 11px;
  color: #999; }

.is-today .pika-button {
  background: #0E0E0E;
  border: 1px solid #ff8000;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%; }

.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  background: #ff8000;
  width: 35px;
  height: 35px;
  border-radius: 50%; }

.is-inrange .pika-button {
  background: #D5E9F7; }

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  box-shadow: none;
  border-radius: 3px; }

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  box-shadow: none;
  border-radius: 3px; }

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: 0.3; }

@media (max-width: 965px) {
  .pika-prev,
  .pika-next {
    margin-top: -10px; }

  .pika-next,
  .is-rtl .pika-prev {
    right: 12rem; }

  .pika-prev,
  .is-rtl .pika-next {
    left: 12rem; } }
@media (max-width: 769px) {
  .pika-table {
    height: 35%; }

  .pika-table th,
  .pika-table td {
    width: 2%; }

  .pika-next,
  .is-rtl .pika-prev {
    right: 8rem; }

  .pika-prev,
  .is-rtl .pika-next {
    left: 8rem; } }
@media (max-width: 610px) {
  .pika-label {
    font-size: 1.15rem; }

  .pika-title {
    margin-bottom: 1.25rem; }

  .pika-next,
  .is-rtl .pika-prev {
    right: 5rem; }

  .pika-prev,
  .is-rtl .pika-next {
    left: 5rem; } }
@media (max-width: 450px) {
  tr {
    height: 46px; }

  .pika-table th,
  .pika-table td {
    height: 35px;
    line-height: 18px; }

  .pika-single {
    padding-top: 2rem; }

  .pika-next,
  .is-rtl .pika-prev {
    right: 2.5rem; }

  .pika-prev,
  .is-rtl .pika-next {
    left: 2.5rem; } }
