
.LOG-input-file-container {
    background: white;
    color: #253754;
    font-weight: normal;

}

.LOG-js .LOG-input-file-trigger {
    background: white;
    color: #253754;
    font-weight: normal;
    border: 1px solid #253754;
    font-size: 16px;
    border: 3px dotted #eaeaea;
    font-size: 16px;
    padding: 4px 29px;
    border-radius: 6px;
    outline:0;
}

.LOG-js .LOG-input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
    border: 1px solid #253754;
}

.LOG-js .LOG-input-file:hover + .LOG-input-file-trigger,
.LOG-js .LOG-input-file:focus + .LOG-input-file-trigger,
.LOG-js .LOG-input-file-trigger:hover,
.LOG-js .LOG-input-file-trigger:focus {
    color: #fa503a;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}

.LOG-file-return {
    margin: 0;
    line-height: 3px;
}

.LOG-file-return:not(:empty) {
    margin: 1em 0;
}

.LOG-js .LOG-file-return {
    font-style: italic;
    font-size: .9em;
}

.LOG-js .LOG-file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}

#LOG-my-file {
    display: none;
}